*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html{
    height: 100%;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: rgba(255, 165, 0, 0.6);
}

.container{
    height: 92vh;
}

nav{
    width: 100%;
    height: 12vh;
    color: white;
    display: block;
    background-color: rgba(10, 10, 10, 1);
    font-weight: bold;
    font-size: 1.6rem;
}

nav .logo{
    width: 100%;
    height: 6vh;
    font-size: 1.8rem;
    background-color: rgba(10, 10, 10, 1);
    text-align: center;
    font-weight: 900;
    padding-top: .3rem;
}

nav .logo h1 a{
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0,0.4);
    text-decoration: none;
}

nav .logo h1 a::after{
    content: "CANADA";
    font-size: .9rem;
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0,0.4);
}
nav .menu{
    border-top: .1rem solid white;
    width: 50%;
    margin: auto;
    height: 6vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0,0.25);
}

nav .menu a:nth-child(3){
    color: rgba(173, 255, 47, 0.8);
}

nav .menu a:hover{
    color: rgba(173, 255, 47, 0.8);
}
nav .menu a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 120%;
    width: 0%;
    height: .2rem;
    transition: all 0.5s linear;
}

nav .menu a:hover::before{
    width: 100%;
    background-color: rgba(173, 255, 47, 0.8);
}

.burger{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container{
    display: grid;
    place-items: center;
    background-image: url(Images/coding.avif);
    background-size: cover;
}

.type{
    width: 62%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.static{
    font-size: 3.2rem;
    color:red;
    line-height: 3.2rem;
    font-weight: 800;
}

.dynamic{
    font-weight: 700;
    font-size: 3.2rem;
    color: white;
    line-height: 3.2rem;
}

.skills{
    text-align: center;
    color: orange;
}

.down{
    text-decoration: none;
    color:white;
}

.gridImage{
    background-image: url(Images/coding.avif);
    background-size: cover;
}

.grid{
    position: sticky;
    /* height: 620px; */
    width: 80%;
    margin: auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2.0rem;
    /* margin: 2.0rem; */
}

.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12,.div13,.div14,.div15,.div16{
    background-color: rgb(255, 255, 255, 0.7);
    border: none;
    border-radius: 1.8rem;
    margin: .8rem;
    display: grid;
    place-items: center;
    text-align:center;
    padding: 1.5rem;
    display: inline-block;
    box-shadow: .2rem .2rem .2rem .2rem rgb(204, 197, 197);
    animation: light 2s ease-out 3;
}

i{
    margin-bottom: 1rem;
}

@keyframes light {
    0%{transform: scale(0);}
    70%{transform: scale(1.05);}
    100%{transform: scale(1);}
}

footer{
    width: 100%;
    height: 4vh;
    background: rgba(10, 10, 10, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* @media (max-width: 1355px) {
    .grid{
        padding: 30px;
        display: grid;
        place-content: center;
        grid-template-columns: repeat(3,1fr);
    }
    .div16{
        grid-row-start: 6;
        grid-column-start: 2;
    }
    .static, .dynamic{
        font-size: 2.8em;
        line-height: 2.8em;
    }
} 
@media (max-width: 1176px) {
    .grid{
        padding: 30px;
        width: 80%;
        margin: auto;
        display: grid;
        place-content: center;
        grid-template-columns: repeat(2,300px);
    }
    .static, .dynamic{
        font-size: 2em;
        line-height: 2em;
    }
}
@media (max-width: 800px) {
    nav{
        position: relative;
    }
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 0 3vw;
    }
    .menu{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    #close{
        display: none;
        color: orangered;
        z-index: 100;
    }
    .burger{
        font-size: 20px;
        display:block;
        padding-right: 5vw;
        z-index: 100;
        color: orangered;
    }
    .active .menu{
        transform: translateX(100%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        height: 100vh;
        z-index: 100;
    }
    .active .menu .burger #open{
        display: none;
    }
    .active .menu .burger #close{
        display: block;
        z-index: 100;
    }
    nav{
        height: 6vh;
    }
    footer{
        padding: 5vw 15vw;
    }
} */
@media (max-width: 800px) {
    html{
        font-size: 45%;
    }
    nav .logo{
        padding-top: 1.8rem;
    }
    nav .menu{
        width: 80%;
    }
    .type{
        width: 90%;
    }
    .static, .dynamic{
        font-size: 2.2rem;
        line-height: 2.2rem;
    }
    .gridImage, .container{
        background-size: 100% 100%;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}