*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-size: 100% 100%;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html{
    height: 100%;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container{
    height: 92vh;
}

nav{
    width: 100%;
    height: 12vh;
    color: white;
    display: block;
    background-color: rgba(10, 10, 10, 1);
    font-weight: bold;
    font-size: 1.6rem;
}

nav .logo{
    width: 100%;
    height: 6vh;
    font-size: 1.8rem;
    background-color: rgba(10, 10, 10, 1);
    text-align: center;
    font-weight: 900;
    padding-top: 0.3rem;
}

nav .logo h1 a{
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0,0.4);
    text-decoration: none;
}

nav .logo h1 a::after{
    content: "CANADA";
    font-size: .9rem;
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0,0.4);
}
nav .menu{
    border-top: .1rem solid white;
    width: 50%;
    margin: auto;
    height: 6vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: .2rem .2rem .2rem rgba(0,0,0,0.25);
}

nav .menu a:nth-child(4){
    color: rgba(173, 255, 47, 0.8);
}

nav .menu a:hover{
    color: rgba(173, 255, 47, 0.8);
}
nav .menu a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 120%;
    width: 0%;
    height: .2rem;
    transition: all 0.5s linear;
}

nav .menu a:hover::before{
    width: 100%;
    background-color: rgba(173, 255, 47, 0.8);
}

.container{
    width: 100%;
    height: 100%;
    padding: 1rem;
    outline:none;
    animation: changeBg 15s infinite linear;
}

@keyframes changeBg {
    0%{ background-color: rgb(253, 52, 52);}
    14%{ background-color: rgb(215, 61, 253);}
    28%{ background-color: rgb(63, 63, 253);}
    42%{ background-color: rgb(255, 182, 47);}
    54%{ background-color: rgb(250, 250, 45);}
    68%{ background-color: rgb(57, 255, 57);}
    82%{ background-color: rgb(37, 253, 232);}
    100%{ background-color: rgb(255, 51, 51);}
}

.map{
    flex: 100%;
    margin-top: 1rem;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0rem -.1rem .2rem .2rem rgba(0,0,0,0.3);
}

.contactForm{
    width: 100%;
    margin-top: 3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 40%;
    text-align: center;
    padding-bottom: 2rem;
}

.contactForm h1{
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    color: black;
    text-shadow: .1rem .1rem .2rem gray;
}

.contactForm .txt{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    color:black;
    margin-bottom: 2rem;
    border:none;
    border-radius: 2rem;
    outline:none;
    text-align: center;
    box-shadow: .3rem .3rem .3rem black;
}

.contactForm .txtarea{
    border:none;
    height: 12rem;
    width: 100%;
    color:black;
    border-radius: 3rem;
    outline:none;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: .3rem .3rem .3rem black;
    text-align: center;
}

.contactForm .txt::placeholder{
    font-weight: bold;
    text-align: center;
}
.contactForm .txtarea::placeholder{
    text-align: center;
    font-weight: bold;
    line-height: 9rem;
}

.contactForm .btn{
    width: 40%;
    color: rgba(173, 255, 47, 1);
    font-size: 1.8rem;
    background-color: black;
    font-weight: 900;
    border-radius: 4rem;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: .3rem .3rem .3rem black;
}

footer{
    width: 100%;
    height: 4vh;
    background: rgba(10, 10, 10, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .copyright{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    background: linear-gradient(45deg,orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* @media (max-width: 800px){
    .container{
        padding: 3vh 5vw;
    }
footer{
    padding: 5vw 15vw;
}
} */
@media (max-width: 800px) {
    html{
        font-size: 45%;
    }
    nav .menu{
        width: 80%;
    }
    }