* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-size: 100% 100%;
  font-family: "Be Vietnam Pro", sans-serif;
}

html{
    font-size: 62.5%;
}

header {
  background-color: black;
}

nav {
  width: 100%;
  height: 12vh;
  color: white;
  display: block;
  background-color: rgba(10, 10, 10, 1);
  font-weight: bold;
  font-size: 1.6rem;
}

nav .logo {
  width: 100%;
  height: 6vh;
  font-size: 1.8rem;
  background-color: rgba(10, 10, 10, 1);
  text-align: center;
  font-weight: 900;
  padding-top: .3rem;
}

nav .logo h1 a {
  background: linear-gradient(45deg, orange, red);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

nav .logo h1 a::after {
  content: "CANADA";
  font-size: .9rem;
  background: linear-gradient(45deg, orange, red);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.4);
}
nav .menu {
  border-top: .1rem solid white;
  width: 50%;
  margin: auto;
  height: 6vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.4rem;
  background: linear-gradient(45deg, orange, red);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.25);
}

nav .menu a:nth-child(2) {
  color: rgba(173, 255, 47, 0.8);
}

nav .menu a:hover {
  color: rgba(173, 255, 47, 0.8);
}
nav .menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 120%;
  width: 0%;
  height: .2rem;
  transition: all 0.5s linear;
}

nav .menu a:hover::before {
  width: 100%;
  background-color: rgba(173, 255, 47, 0.8);
}

.container {
  background-color: black;
  text-align: center;
  margin-top: 1.0rem;
}

.container .main {
  width: 100%;
  height: 15.0rem;
  text-align: center;
  padding: 2.0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.upper {
  margin-top: 3.0rem;
}

.container .Mid {
  width: 75%;
  height: 15.0rem;
  text-align: center;
  padding: 2.0rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .signUp {
  width: 70%;
  height: 60.0rem;
  display: flex;
  margin: 4.0rem auto 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.signUp {
  width: 60%;
  /* height: 40.0rem; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 .8rem .8rem orangered;
}

.signUp .leftSide {
  width: 50%;
  height: 100%;
  background: url("Images/SignUp.avif");
  background-size: 100% 100%;
}

.rightSide form {
  width: 95%;
  margin: auto;
  background-color: rgb(255, 137, 94);
  padding: 3.0rem;
  margin-top: 1.5rem;
}

.signUp .rightSide {
  width: 50%;
  height: 100%;
  background-color: rgb(32, 31, 31);
  padding: 1.5rem 2.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.rightSide h1 {
  font-size: 3.5rem;
  margin-bottom: .5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

.rightSide form label {
  font-size: 2.0rem;
  display: block;
  margin-top: .1rem;
  padding: 1.0rem 2.0rem 1.0rem 2.0rem;
  text-align: left;
  font-weight: 800;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
}

.rightSide form input {
  font-size: 1.8rem;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: .0rem;
  padding: 1.0rem 3.0rem 1.0rem 2.0rem;
  text-align: left;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.0rem;
}

.rightSide form input:focus {
  outline: .1rem solid black;
}
.rightSide form input::placeholder {
  font-size: 1.6rem;
}

.rightSide form input:focus::placeholder {
  color: transparent;
}

.rightSide form .submit {
  width: 90%;
  color: white;
  text-align: center;
  margin: 1.5rem auto .0rem auto;
  letter-spacing: 1.5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  box-shadow: .2rem .2rem .1rem gray;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.extraSignUp {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 1.0rem;
  line-height: 2.5rem;
  color: white;
}

.extraSignUp button {
  font-family: "Source Sans Pro", sans-serif;
  width: 12.0rem;
  padding: .8rem;
  margin: 1.5rem .8rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  cursor: pointer;
  color: white;
}

.extraSignUp p,
.extraSignUp h3 {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: .1rem;
  font-weight: 900;
}

#fb {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #3b5998;
}

#gmail {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #e23323;
}

.clipMain {
  position: relative;
  width: 70%;
  height: 50.0rem;
  margin: 7.0rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipMain .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.clip1 {
  background: url("Images/Imagination.avif");
  background-size: 100% 100%;
  clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
}
.clip2 {
  background: url("Images/Opportunities.avif");
  background-size: 100% 100%;
  clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}
.clip3 {
  background: url("Images/Learn.avif");
  background-size: 100% 100%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.clipMain:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.clipMain .clip:hover {
  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.glassLogin1 {
  width: 30%;
  height: 60.0rem;
  text-shadow: .1rem .1rem black;
  background: url("Images/Login.avif");
  background-size: 100% 100%;
  border-radius: 4.5rem;
  padding: 4.0rem;
  box-shadow: .2rem -.2rem 1.0rem gray;
  margin: 5.0rem auto;
  color: silver;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
}

.glassLogin1 h1 {
  display: block;
  font-size: 4.0rem;
  text-shadow: 1.0rem 1.0rem 2.5rem black;
}

.glassLogin1 form input {
  font-size: 1.6rem;
  line-height: 2.0rem;
  width: 80%;
  display: block;
  margin: 3.0rem auto;
  text-align: left;
  border-radius: 2.0rem;
  padding: 1.0rem;
  background: transparent;
  border: .2rem solid silver;
  color: silver;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
}

.glassLogin1 form input::placeholder {
  color: silver;
  font-family: "Be Vietnam Pro", "FontAwesome", sans-serif;
}

.glassLogin1 form input:focus {
  outline: none;
  color: silver;
}

.glassLogin1 form input:focus::placeholder {
  color: transparent;
}

.glassLogin1 form .remember {
  display: inline-flex;
  width: 14.0rem;
  height: 2.5rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 800;
  white-space: nowrap;
  cursor: pointer;
  accent-color: silver;
}

.glassLogin1 form .glassSubmit1 {
  width: 80%;
  font-size: 2.0rem;
  line-height: 2.0rem;
  text-align: center;
  padding: 1.0rem;
  margin: 1.0rem auto;
  color: white;
  letter-spacing: .1rem;
  border: none;
  border-radius: 2.0rem;
  background-color: orangered;
  cursor: pointer;
  box-shadow: .1rem .1rem .1rem .1rem silver;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
}

.glassLogin1 form h4 {
  margin: 8.0rem;
  cursor: pointer;
}

.neon a {
  position: relative;
  padding: 1.0rem 3.0rem;
  margin: 0 2.5rem;
  color: cyan;
  text-decoration: none;
  letter-spacing: .2rem;
  font-size: 2.0rem;
  transition: 0.5s;
  overflow: hidden;
}

.neon a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.0rem;
  height: 1.0rem;
  border-top: .2rem solid cyan;
  border-left: .2rem solid cyan;
  transition: 0.5s;
  overflow: hidden;
}

.neon a:hover::before {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.neon a:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 3.0rem cyan;
  transition-delay: 0.4s;
  overflow: hidden;
  font-weight: 700;
}

.neon a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.0rem;
  height: 1.0rem;
  border-bottom: .2rem solid cyan;
  border-right: .2rem solid cyan;
  transition: 0.5s;
  overflow: hidden;
}

.neon a:hover::after {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.neon a:nth-child(1) {
  filter: hue-rotate(115deg);
}

.neon a:nth-child(3) {
  filter: hue-rotate(270deg);
}

.twoCornerBorderButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  letter-spacing: .2rem;
  transition: 0.5s;
  background-color: rgb(70, 70, 184);
  color: white;
  text-decoration: none;
  font-size: 2.0rem;
  border: none;
  font-weight: 900;
}

.twoCornerBorderButton:hover {
  box-shadow: .0rem .0rem .2rem .2rem rgb(156, 138, 138);
}

.twoCornerBorderButton::before {
  content: "";
  position: absolute;
  left: -1.0rem;
  top: -1.0rem;
  width: 2.0rem;
  height: 2.0rem;
  border-top: .2rem solid rgb(70, 70, 184);
  border-left: .2rem solid rgb(70, 70, 184);
  transition: all 0.5s linear;
}

.twoCornerBorderButton:hover::before,
.twoCornerBorderButton:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}

.twoCornerBorderButton::after {
  content: "";
  position: absolute;
  right: -1.0rem;
  bottom: -1.0rem;
  width: 2.0rem;
  height: 2.0rem;
  border-right: .2rem solid rgb(70, 70, 184);
  border-bottom: .2rem solid rgb(70, 70, 184);
  transition: all 0.5s linear;
}

.clipDiv {
  margin: 3.0rem auto;
}

.clipButton {
  position: relative;
  width: 25.0rem;
  height: 10.0rem;
  line-height: 10.0rem;
  letter-spacing: .2rem;
  transition: 0.5s;
  background-color: rgb(70, 70, 184);
  color: white;
  text-decoration: none;
  font-size: 3.0rem;
  border: none;
  font-weight: 900;
  clip-path: ellipse(5% 50% at 50% 50%);
}

.clipButton:hover {
  box-shadow: .0rem .0rem .2rem .2rem rgb(156, 138, 138);
  clip-path: circle(150% at 100% 0);
}

.clipButton::before {
  content: "";
  position: absolute;
  left: -1.0rem;
  top: -1.0rem;
  width: 2.0rem;
  height: 2.0rem;
  border-top: .2rem solid rgb(70, 70, 184);
  border-left: .2rem solid rgb(70, 70, 184);
  transition: all 0.5s linear;
}

.clipButton:hover::before,
.clipButton:hover::after {
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
}

.clipButton::after {
  content: "";
  position: absolute;
  right: -1.0rem;
  bottom: -1.0rem;
  width: 2.0rem;
  height: 2.0rem;
  border-right: .2rem solid rgb(70, 70, 184);
  border-bottom: .2rem solid rgb(70, 70, 184);
  transition: all 0.5s linear;
}

.fallenBrickButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  letter-spacing: .2rem;
  transition: all 0.5s linear;
  background-color: black;
  color: white;
  border: .2rem solid white;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 900;
  overflow: hidden;
  z-index: 1;
}

.fallenBrickButton:hover {
  color: black;
  font-weight: 900;
}

.fallenBrickButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: yellowgreen;
  z-index: -1;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition: all 1s;
}

.fallenBrickButton:hover::before {
  transform: rotate(0deg);
}

.leftToRightButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  letter-spacing: .2rem;
  transition: all 0.5s linear;
  background-color: yellowgreen;
  color: white;
  border: .2rem solid white;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 900;
  overflow: hidden;
  z-index: 1;
}

.leftToRightButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  transform: translateX(180deg);
  transition: all 1s;
  color: black;
}

.leftToRightButton:hover {
  color: black;
}

.leftToRightButton:hover::before {
  transform: translateX(100%);
}

.progressiveButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  background-color: red;
  text-decoration: none;
  text-align: center;
  border: .2rem solid red;
  letter-spacing: .2rem;
  transition: 0.5s;
  color: white;
  font-size: 2.0rem;
}

.progressiveButton::before {
  content: "";
  position: absolute;
  top: -.2rem;
  left: -.2rem;
  width: 0;
  height: 0;
  background: transparent;
  border: .2rem solid transparent;
}

.progressiveButton:hover:before {
  animation: animate1 1s linear forwards;
}

@keyframes animate1 {
  0% {
    width: 0;
    height: 0;
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.progressiveButton::after {
  content: "";
  position: absolute;
  top: -.2rem;
  left: -.2rem;
  width: 0;
  height: 0;
  background: transparent;
  border: .2rem solid transparent;
}

.progressiveButton:hover:after {
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
  }
}

.boxShadowButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  background-color: rgb(50, 50, 207);
  text-decoration: none;
  text-align: center;
  border-radius: .5rem;
  letter-spacing: .2rem;
  font-size: 2.0rem;
  color: white;
}

.boxShadowButton:hover {
  box-shadow: 0 0 .2rem .2rem white;
  background-color: rgba(50, 50, 207, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.foldButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  background-color: red;
  text-decoration: none;
  text-align: center;
  letter-spacing: .2rem;
  font-size: 2.0rem;
  color: white;
  overflow: hidden;
}

.foldButton:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  border-width: 1.8rem;
  border-style: solid;
  border-color: black black rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4);
}

.normalHoverButton {
  position: relative;
  width: 15.0rem;
  height: 6.0rem;
  line-height: 6.0rem;
  background-color: yellowgreen;
  text-decoration: none;
  text-align: center;
  letter-spacing: .2rem;
  font-size: 2.0rem;
  font-weight: 900;
  color: black;
  z-index: 1;
  transition: all 0.5s linear;
  overflow: hidden;
}

.normalHoverButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  transform: translateX(-100%);
}

.normalHoverButton:hover {
  color: white;
  background: orangered;
  transition: all 0.8s linear;
}

.normalHoverButton:hover::before {
  transform: translateX(0);
  z-index: -1;
}

.gradientBackgroundButton {
  width: 120.0rem;
  background-image: linear-gradient(
    115deg,
    red,
    green,
    yellow,
    blue,
    orange,
    purple,
    red
  );
  text-align: center;
  position: relative;
  color: white;
  background-color: yellow;
  text-decoration: none;
  display: block;
  border-radius: .6rem;
  letter-spacing: .2rem;
  transition: 0.5s;
  font-size: 2.0rem;
  overflow: hidden;
  animation: gradi 1.5s linear infinite;
  cursor: auto;
}

.gradientBackgroundButton span {
  margin: .3rem;
  display: block;
  background: black;
  padding: 1.4rem 0;
  border-radius: .3rem;
}

@keyframes gradi {
  0% {
    background-position: .0rem;
  }
  20% {
    background-position: -24.0rem;
  }
  40% {
    background-position: -48.0rem;
  }
  60% {
    background-position: -72.0rem;
  }
  80% {
    background-position: -96.0rem;
  }
  100% {
    background-position: -120.0rem;
  }
}

.main .whiteGreen {
  display: grid;
  place-items: center;
  width: 90%;
}

.whiteGreen {
  position: relative;
  cursor: pointer;
  width: 90%;
  margin: auto;
  font-size: 3vw;
  height: 5vh;
}

.whiteGreen h1 {
  position: absolute;
}

.whiteGreen h1:first-child {
  color: white;
}
.whiteGreen h1:nth-child(2) {
  color: green;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  background-color: black;
}

.whiteGreen h1:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.whiteGreen h1:first-child:hover ~ h1 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.thanks {
    margin: 3rem auto;
}

.products {
  font-family: "Comforter", cursive;
  color: white;
  text-align: center;
  letter-spacing: .5rem;
  position: relative;
  font-size: 5vw;
}

.products::before {
  content: "";
  position: absolute;
  width: 20vw;
  border-bottom: .5rem solid orangered;
  top: -28%;
  left: 50%;
  transform: translateX(-50%);
}

.products::after {
  content: "";
  position: absolute;
  width: 20vw;
  border-bottom: .5rem solid orangered;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  width: 100%;
  height: 4vh;
  background: rgba(10, 10, 10, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  background: linear-gradient(45deg, orange, red);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

 @media (max-width: 800px) {
     html{
         font-size: 45%;
     }
     nav .logo{
        padding-top: 1.8rem;
    }
     nav .menu{
        width: 80%;
    }
    .gradientBackgroundButton {
        animation: gradi 4s linear infinite;
    }
    .neon{
        display: flex;
    }
    .clipMain {
      height: 30rem;
      outline: 2px solid white;
      outline-offset: 2px;
    }
    .container .signUp {
        width: 90%;
        /* height: auto; */
    }
    .rightSide form label {
    text-align: center;
    }
    .extraSignUp button {
        width: 4rem;
        line-height: 10%;
        font-size: 20%;
    }
    .glassLogin1{
        width: 70%;
    }
    }
/*    .main{
        height: 100%;
        margin: 20px auto;
    }
    .neon{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
    }
  .container .signUp{
      display:none;
  }
  .main.upper, .main.Mid{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 100%;
    }
    .main.Mid{
    margin: 0px auto;
    }
  .foldButton{
      height: 150%;
  }
  footer {
    padding: 5vw 15vw;
  }
} */
